development:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: gem_db_development
  username: postgres
  password: postgres

test:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: gem_db_test
  username: postgres
  password: postgres

production:
  adapter: postgresql
  encoding: unicode
  host: localhost
  database: gem_db_production
  username: postgres
  password: postgres
